<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wework.platform.task.repository.TaskInstanceRepository">

    <!-- IN -->
    <update id="IN">
        "&lt;script&gt;" +
        "UPDATE task_instances SET " +
        "status = 'CANCELLED', " +
        "end_time = NOW(
    </update>

</mapper>