<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wework.platform.agent.repository.CallRecordRepository">

    <!-- SUM -->
    <select id="SUM">
        {
        "&lt;script&gt;",
        "SELECT",
        "COUNT(*
    </select>

    <!-- SUM -->
    <select id="SUM">
        {
        "&lt;script&gt;",
        "SELECT platform_type,",
        "COUNT(*
    </select>

</mapper>